/* src/styles/App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}